:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
}

/* ============= */
/* Reset         */
/* ============= */
*,
*::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* ============= */
/* Base          */
/* ============= */
body {
  color: var(--text-base);
  background-color: var(--background);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
}
input[type='checkbox'] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--text-base);
  border-radius: 2px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
input[type='checkbox']:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
input[type='checkbox']::before {
  content: '';
  width: 1em;
  height: 1em;
  transform: scale(0);
  transition: transform 0.1s ease-in-out;

  background-image: url('images/check.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
input[type='checkbox']:checked::before {
  transform: scale(1);
}

/* ============= */
/* Header        */
/* ============= */
header {
  height: 2rem;
  margin: 2rem 1rem 1rem;

  display: flex;
  direction: column;
  align-items: center;
}

.logo {
  height: 1.5rem;
  width: 100%;
  background-color: var(--text-title);
  mask-image: url(images/logo.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
}

/* ============= */
/* Body grid     */
/* ============= */
body {
  min-height: 100vh;
}
.body-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
header {
  grid-column: 1 / -1;
}
.login-container {
  grid-column: 1 / -1;
}
.grid-side {
  display: none;

  background-image: url(images/side-image-2x.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
@media screen and (width > 600px) {
  header {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
  .login-container {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }
  .grid-side {
    display: block;

    grid-column: 2 / 2;
    grid-row: 1 / span 2;
  }
}

/* ============= */
/* Login form    */
/* ============= */

@media screen and (width > 600px) {
  form {
    max-width: 600px;
    margin-inline: auto;
    padding: 3rem 15%;
    background-color: var(--form-background);
  }
}

fieldset {
  border-width: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

legend {
  color: var(--text-title);
  font-size: 1.75rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
legend::before {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(images/log-in.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.login-field {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.input-container {
  position: relative;
}

.input-container input {
  height: 3rem;
  width: 100%;
  border: 1px solid var(--text-base);
  border-radius: 4px;

  padding-left: 2.5rem;

  color: var(--text-base);
  background-color: inherit;

  transition: all 0.2s ease-in-out;
}

.input-container input:focus {
  outline: none;
  border-color: var(--primary-color);
  border-width: 1px;
}

.input-container::before,
.input-container::after {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  position: absolute; /* necessary to make visible*/
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);

  background-size: contain;
  background-repeat: no-repeat;
  background-color: inherit;
  background-position: center;
}

.email-container::before {
  background-image: url(images/mail.svg);
}
.email-container::after {
  background-image: url(images/mail-focus.svg);
}

.password-container::before {
  background-image: url(images/lock.svg);
}
.password-container::after {
  background-image: url(images/lock-focus.svg);
}

.input-container::after {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.input-container:focus-within::after {
  /* within - targets itself or any of its descendant elements*/
  opacity: 1;
}

.login-help {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;

  margin-block: 0.5rem;
}

.login-remember {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}

.login-signup-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
}

.login-btn {
  height: 3rem;
  background-color: var(--primary-color);
  text-transform: uppercase;
}
